<section id="h.INITIAL_GRID.ov6yklmnl9na" class="yaqOZd LB7kq cJgDec nyKByd O13XJf" style="">
    <div class="Nu95r">
        <div class="IFuOkc"
            style="background-position: center center; background-image: url(&quot;https://lh4.googleusercontent.com/wkScRrhoi5XRROF_4GH_cRc3uUo5kI4VOtOyCuXFqSdThtuhCIFC69qaOgK-FHUqkx2EDqqs3M8rsKFOp0o8L38=w16383&quot;); background-size: cover; transform: translate3d(0px, 0px, 0px);"
            jsname="LQX2Vd"></div>
    </div>
    <div class="mYVXT">
        <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
            <div
                class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                <div class="JNdkSc-SmKAyb LkDMRd">
                    <div class="" jscontroller="sGwD4d"
                        jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                        <div class="oKdM2c ZZyype Kzv0Me">
                            <div id="h.INITIAL_GRID.b4jscfs9ris1"
                                class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb">
                                <div class="jXK9ad-SmKAyb">
                                    <div class="tyJCtd mGzaTb Depvyb baZpAe lkHyyc">
                                        <h1 id="h.z1fb8yssmju3" dir="ltr"
                                            class="zfr3Q duRjpb CDt4Ke "
                                            style="line-height: 0.84; text-align: center;">
                                            <span class="GJytX C9DxTc "
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<section id="h.237984dadd6e35ae_3" class="yaqOZd">
    <div class="mYVXT">
        <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
            <div class="position-relative">
                <h1 class="display-5 my-5 text-center">Compare Programmes</h1>
                <div class="container">
                    <div class="col-md-9 mx-auto">
                        <form action="" method="GET">
                            <div class="row mb-4">
                                <div class="col">
                                    <select class="form-select" name="prog1" id="select1" onchange="this.form.submit()">
                                        <option value="">-- Select Programme 1 --</option>
                                        <% allProgs.forEach(prog => { %>
                                            <option <%= selectedProg1 == prog.ProgrammeID? 'selected':''%> value="<%= prog.ProgrammeID %>" ><%= prog.ProgrammeName %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="prog2" id="select2" onchange="this.form.submit()">
                                        <option value="">-- Select Programme 2 --</option>
                                        <% allProgs.forEach(prog => { %>
                                            <option <%= selectedProg2 == prog.ProgrammeID? 'selected':''%> value="<%= prog.ProgrammeID %>"><%= prog.ProgrammeName %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <% if (prog1 && prog2) { %>

                            <style>
                                table{
                                    table-layout: fixed;
                                    width: 300px;
                                }                                
                            </style>

                            <table class="table table-bordered">
                                <tr class="bg-light">
                                    <th style="width: 200px;">Comparison</th>
                                    <th><%= prog1.progName %></th>
                                    <th><%= prog2.progName %></th>
                                </tr>
                                <tr>
                                    <th>Programme Outline</th>
                                    <td>
                                        <ul>
                                            <% prog1.progOutline.forEach(course => { %>
                                                <li class="<%= (common_course.includes(course))?'text-success':'text-danger' %>"><%= course.replace(/'/g, '') %></li>
                                            <% }) %>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <% prog2.progOutline.forEach(course => { %>
                                                <li class="<%= (common_course.includes(course))?'text-success':'text-danger' %>"><%= course.replace(/'/g, '') %></li>
                                            <% }) %>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fees</th>
                                    <td><%= (prog1.Fees)?prog1.Fees.toFixed(2): 'N/A' %></td>
                                    <td><%= (prog2.Fees)?prog2.Fees.toFixed(2): 'N/A' %></td>
                                </tr>
                                <tr>
                                    <th>Career Prospects</th>

                                    <td>
                                        <ul>
                                            <% prog1.Career.split('#').forEach(career => { %>
                                                <li><%= career %></li>
                                            <% }) %>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <% prog2.Career.split('#').forEach(career => { %>
                                                <li><%= career %></li>
                                            <% }) %>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Available Campuses</th>
                                    <td>
                                        <% prog1.campus.sort().forEach(campus => { %>
                                            <li><%= campus  %></li>
                                        <% }) %>
                                    </td>
                                    <td>
                                        <% prog2.campus.sort().forEach(campus => { %>
                                            <li><%= campus  %></li>
                                        <% }) %>
                                    </td>
                                </tr>
                            </table>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js "></script>
            
<!---->

</section>