<section id="h.INITIAL_GRID.ov6yklmnl9na" class="yaqOZd LB7kq cJgDec nyKByd O13XJf" style="">
    <div class="Nu95r">
        <div class="IFuOkc"
            style="background-position: center center; background-image: url(&quot;https://lh4.googleusercontent.com/wkScRrhoi5XRROF_4GH_cRc3uUo5kI4VOtOyCuXFqSdThtuhCIFC69qaOgK-FHUqkx2EDqqs3M8rsKFOp0o8L38=w16383&quot;); background-size: cover; transform: translate3d(0px, 0px, 0px);"
            jsname="LQX2Vd"></div>
    </div>
    <div class="mYVXT">
        <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
            <div
                class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                <div class="JNdkSc-SmKAyb LkDMRd">
                    <div class="" jscontroller="sGwD4d"
                        jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                        <div class="oKdM2c ZZyype Kzv0Me">
                            <div id="h.INITIAL_GRID.b4jscfs9ris1"
                                class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb">
                                <div class="jXK9ad-SmKAyb">
                                    <div class="tyJCtd mGzaTb Depvyb baZpAe lkHyyc">
                                        <h1 id="h.z1fb8yssmju3" dir="ltr"
                                            class="zfr3Q duRjpb CDt4Ke "
                                            style="line-height: 0.84; text-align: center;">
                                            <span class="GJytX C9DxTc "
                                                style="color: #f7ebeb; font-family: Lato, Arial; font-weight: 900; vertical-align: baseline;">Elective Course</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section id="h.237984dadd6e35ae_3" class="yaqOZd">
    <div class="mYVXT">
        <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">

            <div class="position-relative">
                <div class="d-flex justify-content-start row">
                    <form action="" method="GET">
                        <select class="form-select" name="prog" onchange="this.form.submit()">
                            <option value="">-- Select Programme --</option>
                            <% progs.forEach(prog => { %>
                                <option <%= prog.ProgrammeID==selectedProg? 'selected':'' %> value="<%= prog.ProgrammeID %>"><%= prog.ProgrammeName %></option>
                            <% }) %>
                        </select>
                        <select class="form-select w-25 my-4" name="group" onchange="this.form.submit()">
                            <option value="">-- Select Elective Groups --</option>
                            <% if(egs !== undefined) { %>
                                <% egs.forEach(eg => { %>
                                    <option <%= eg.GroupCode==selectedEg? 'selected':'' %> value="<%= eg.GroupCode %>"><%= eg.GroupCode %></option>
                                <% }) %>
                            <% } %>
                        </select>
                    </form>
                </div>

                <div class="mt-4 row">

                    <% if(courses && courses.length > 0) { %>
                    <% courses.forEach(course => { %>
                    
                        <div class="col">
                            <div class="card">
                                <div class="card-header fs-6 fw-bold">
                                    <%= course.CourseName %>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <b>Description: </b> <br>
                                        <%= course.CourseDesc %>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Prerequisite: </b> <br>
                                        <ul>
                                        <% if(course.Prerequisite && course.Prerequisite != '') { %>
                                            <% course.Prerequisite.split("#").forEach(p => { %>

                                                <li><%= p %></li>

                                            <% }); %>
                                        <% } %>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Career Opportunity: </b> <br>
                                        <ul>
                                        <% if(course.Career && course.Career != '') { %>
                                            <% course.Career.split("#").forEach(c => { %>

                                                <li><%= c %></li>

                                            <% }); %>
                                        <% } %>
                                        </ul>
                                    </li>
                                </ul>
                                <% if(course.Exam && course.Exam != '') { %>
                                <div class="card-footer text-center">
                                    <a href="<%= 'https://eprints.tarc.edu.my/cgi/search/simple?q=' + course.Exam + '&basic_srchtype=ALL&_satisfyall=ALL' %>">Past year exam sample</a>
                                </div>
                                <% } %>
                            </div>
                            
                        </div>
                        
                    <% }); } %>

                </div>
            </div>
            
        </div>
    </div>
</section>